* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2EB857, white);
}
.login-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.login-container h2 {
    margin-bottom: 15px;
    color: white;
}
.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
}
.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #52df81;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    background: #068f36;
}

